:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typewriter.css */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e27b16;
  }
}

@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typewriter-text {
  overflow: hidden;
  border-right: 0.15em solid #e27b16;
  white-space: nowrap;
  display: inline-block;
  animation: blink-caret 0.75s step-end infinite;
}

.typing {
  animation: typing 2s steps(10, end) forwards;
}

.erasing {
  animation: erasing 2s steps(10, end) forwards;
}
